<% provide :title, t("about.title") %>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.tuanca" %>
    <small>
      <a class="label label-danger"><%= t "about.eduman" %></a>
    </small>
  </h3>
</div>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.vietmt" %>
    <small>
      <a class="label label-warning"><%= t "about.trainer" %></a>
    </small>
  </h3>
</div>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.trungnt" %>
    <small>
      <a class="label label-warning"><%= t "about.trainer" %></a>
    </small>
  </h3>
</div>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.hungnd" %>
    <small>
      <a class="label label-info"><%= t "about.trainee" %></a>
      </small>
  </h3>
</div>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.quangmh" %>
    <small>
      <a class="label label-info"><%= t "about.trainee" %></a>
    </small>
  </h3>
</div>
<div class="col-lg-4 col-sm-6 text-center">
  <h3><%= t "about.khanhld" %>
    <small>
      <a class="label label-info"><%= t "about.trainee" %></a>
    </small>
  </h3>
</div>
