<%= form_for [:supervisor, @course], 
  url: supervisor_assign_trainee_path do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <h4><%= t "title.supervisor" %></h4>
    <%= render @supervisors, f: f %>
    <h4><%= t "title.trainee" %></h4>
    <%= render @trainees, f: f %>
    <%= f.submit t("button.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
