<%= form_for [:supervisor, @course], 
  url: supervisor_assign_trainee_path do |f| %>
  <div class="form-style-5">
    <form>
      <fieldset class="col-md-6">
        <legend>
          <span class="number">1</span> 
          <%= t "title.supervisor" %>
        </legend>
        <%= render @supervisors, f: f %>
      </fieldset>
      <fieldset class="col-md-6">
        <legend>
          <span class="number">2</span>
          <%= t "title.trainee" %>
        </legend>
        <%= render @trainees, f: f %>
      </fieldset>
      <%= f.submit t("button.submit"), class: "btn btn-primary", 
        id: "submit" %>
    </form>
  </div>
<% end %>
