<%= provide :title, t("courses.index") %>
<h1><%= t "courses.index" %></h1>
<div class="col-md-8 col-md-offset-2">
  <% if @courses.any? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= t "courses.name" %></th>
            <th><%= t "courses.description" %></th>
            <th><%= t "courses.count" %></th>
            <th><%= t "courses.status" %></th>
            <th><%= t "courses.action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td>
              <%= link_to course.name, supervisor_course_path(course) %>
              </td>
              <td><%= course.description %></td>
              <td><%= course.user_courses.count %></td>
              <td><%= course.status %></td>
              <td><%= link_to t("button.edit"),
                edit_supervisor_course_path(course),
                class: "btn btn-success"%>
                <%= link_to t("button.delete"),
                supervisor_course_path(course), method: :delete,
                data: {confirm: t("delete.sure")},
                class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
