<%= provide :title, @course.name %>
<div class="col-md-4">
  <h4><%= t "title.supervisor" %></h4>
  <ol>
    <% @supervisors.each do |supervisor| %>
      <li>
        <%= link_to supervisor.user.name %>
        <%= link_to t("button.delete"), 
          supervisor_user_course_path(supervisor), method: :delete,  
          data: {confirm: t("flash.confirm")}, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ol>
  <h4><%= t "title.trainee" %></h4>
  <ol>
    <% @trainees.each do |trainee| %>
      <li>
        <%= link_to trainee.user.name %>
        <%= link_to t("button.delete"), 
          supervisor_user_course_path(trainee), method: :delete,  
          data: {confirm: t("flash.confirm")}, class: "btn btn-danger" %>
      </li>
    <% end %>
  </ol>
</div>
<div class="col-md-8">
  <h2><%= @course.name %></h2>
  <h4><%= t "courses.description" %> : <%= @course.description %></h4>
  <h4><%= t "courses.subject" %></h4>
    <% if @course.course_subjects.any? %>
      <ol>
        <% @course.course_subjects.each do |course_subject| %>
          <li>
            <%= link_to course_subject.subject.name, 
              supervisor_course_course_subject_path(@course.id, course_subject) %>
          </li>
        <% end %>
      </ol>
    <% end %>
  <%= render "active_courses_buttons" %>
  <%= link_to t("button.edit"), edit_supervisor_course_path,
    class: "btn btn-success" %>
  <%= link_to t("button.delete"), supervisor_course_path,
    method: :delete, data: {confirm: t("delete.sure")}, 
    class: "btn btn-danger" %>
  <%= link_to t("button.add_user"), edit_supervisor_assign_trainee_path,
    class: "btn btn-primary" %>
  <div class="activities">
    <h2><%= t "course.activities" %></h2>
    <%= render "activities/activity", activities: @activities %>
  </div>
</div>
