<%= provide :title, @course.name %>
<div class="col-md-4" id="user_course">
  <h2><%= t "title.supervisor" %></h2>
  <div>
    <% @supervisors.each do |supervisor| %>
      <div>
        <div class="col-md-8" id="user_name">
          <%= link_to supervisor.user.name %>
        </div>
        <div class="col-md-2" id="remove_button">
          <%= link_to t("button.delete"), 
            supervisor_user_course_path(supervisor), method: :delete,  
            data: {confirm: t("flash.confirm")}, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
  <h2><%= t "title.trainee" %></h2>
  <div>
    <% @trainees.each do |trainee| %>
      <div>
        <div class="col-md-8" id="user_name">
          <%= link_to trainee.user.name %>
        </div>
        <div class="col-md-2" id="remove_button">
          <%= link_to t("button.delete"), 
            supervisor_user_course_path(trainee), method: :delete,  
            data: {confirm: t("flash.confirm")}, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="col-md-6" id="course_container">
  <h2><%= @course.name %></h2>
  <h4><%= t "courses.description" %> : <%= @course.description %></h4>
  <h4><%= t "courses.subject" %></h4>
    <% if @course.course_subjects.any? %>
      <ol>
        <% @course.course_subjects.each do |course_subject| %>
          <li>
            <%= link_to course_subject.subject.name, 
              supervisor_course_course_subject_path(@course.id, course_subject) %>
          </li>
        <% end %>
      </ol>
    <% end %>
  <%= render "active_courses_buttons" %>
  <%= link_to t("button.edit"), edit_supervisor_course_path,
    class: "btn btn-success" if @course.init? %>
  <%= link_to t("button.delete"), supervisor_course_path,
    method: :delete, data: {confirm: t("delete.sure")}, 
    class: "btn btn-danger" %>
  <%= link_to t("button.add_user"), edit_supervisor_assign_trainee_path,
    class: "btn btn-primary" if @course.init? %>
  <div class="activities">
    <h2><%= t "course.activities" %></h2>
    <%= render "activities/activity", activities: @activities %>
  </div>
</div>
