<%= provide :title, t("subjects.index") %>
<h1><%= t "subjects.index" %></h1>
<div class="col-md-8 col-md-offset-2">
  <% if @subjects.any? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= t "subjects.name" %></th>
            <th><%= t "subjects.description" %></th>
            <th><%= t "subjects.action" %></th>
          </tr>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td>
              <%= link_to subject.name, supervisor_subject_path(subject) %>
              </td>
              <td><%= subject.description %></td>
              <td><%= link_to t("button.edit"),
              edit_supervisor_subject_path(subject),
              class: "btn btn-success"%>
                <%= link_to t("button.delete"),
                supervisor_subject_path(subject), method: :delete,
                data: {confirm: t("delete.sure")},
                class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
