<%= provide :title, t("courses.index") %>
<h1><%= t "courses.index" %></h1>
<div class="col-md-12" id="center">
  <% if @user_courses.any? %>
    <h2><%= t "courses.active" %></h2>
    <% @user_courses.each do |user_course| %>
      <% if user_course.course.start? %>
        <div class="active_course">
          <div class="course_name">
            <%= link_to user_course.course.name,
              course_path(user_course.id), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <h2><%= t "courses.course_finished" %></h2> 
    <% @user_courses.each do |user_course| %>
      <% unless user_course.course.start? %>
        <div class="finished_course">
          <div class="course_name">
            <%= link_to user_course.course.name,
              course_path(user_course.id), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
