<%= provide :title, @course.name %>
<div class="col-md-2" id="user_course">
  <h2><%= t "title.trainee" %></h2>
  <div>
    <% @user_courses.each do |user_course| %>
      <% if user_course.user.trainee? %>
        <div id="user_name">
          <div>
            <%= link_to user_course.user.name, user_path(user_course.user) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </ol>
  <%= render "activities/activities" %>
  </div>
</div>
<div class="col-md-10" id="subject_wrapper">
  <h1><%= @course.name %></h1>
  <h4><%= t "courses.description" %> : <%= @course.description %></h4>
  <% if @user_subjects.any? %>
    <h3><%= t "subjects.show" %></h3>
    <%= t "course_show.line" %>
    <% @user_subjects.each do |user_subject| %>
      <div class="subject">
        <div class="subject_name">
          <% if user_subject.finish? %>
            <%= link_to user_subject.subject.name,
              course_user_subject_path(@course.id, user_subject),
              class: "btn btn-danger"%>
          <% else %>
            <%= link_to user_subject.subject.name,
              course_user_subject_path(@course.id, user_subject),
              class: "btn btn-primary"%>
          <% end %>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:<%=user_subject.ratio%>%">
          <span><%= user_subject.ratio %> %</span>
          </div>
        </div>
      </div>
      <%= t "course_show.line" %> 
    <% end %>
  <% else %>
    <h2> <%= t "courses.is_not_started" %> </h2>
  <% end %>
</div>
